@model IEnumerable<eCommerce1.Models.Product>

<h1>Product List</h1>
<ul>
    @foreach (var product in Model)
    {
        <li>
            <b>@product.Name</b> - $@product.Price
            <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
        </li>
    }
</ul>
<a href="@Url.Action("Create")" class="btn btn-primary">Create New Product</a>